#!/bin/bash

. "$HOME/.local/bin/custom-notifier/utils/find-battery"
BATTERY_PATH="$(find_battery)"
if [ -f "$BATTERY_PATH/capacity" ]; then
    capacity=$(cat "$BATTERY_PATH/capacity")
else
    capacity="ERR"
fi

font_color=^c@FG_BAT@^ 
bg_color=^b@BG_BAT@^
echo $font_color$bg_color BAT $capacity% ^d^
